# Shared development configuration. Do not put private keys in source control.
CLUSTER_URL=https://api.devnet.solana.com
DEPLOYER_PUBKEY=
PROGRAM_ID=5gA8XF9AuVoYkSAjMvqk7xpDDaV4Au5HGQwcEcyM9UXJ
MAGIC_PUBLISHABLE_KEY=
